@rosa: #E6475F;
@gelb: #ECE243;
@weiss: #FFFFFF;

@font-face {
  font-family: "Circular Std Bold Italic";
  src: url('fonts/CircularStd-BoldItalic.otf');
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Circular Std Bold Italic";
}

div.slide {
    width: 100%;
    height: 100vh;
}

div#startscreen {
    background-color: @rosa;
    
    div.title {
        color: @gelb;
        left: 52%;
        top: 32%;

        transform: translate(-50%, -50%);

        position: absolute;
        font-size: 5em;
        line-height: 90%;
    }
    
    div.teaser {
        color: @weiss;
        position: absolute;
        left: 35%;
        top: 63%;
        transform: translate(-50%, -50%) rotate(-1.7deg);
        width: 60%;
        font-size: 1.7em;
    }
    
    div.button {
        color: @gelb;
        position: absolute;
        border: 0.04em solid @gelb;
        width: 27%;
        height: 22%;
        text-align: center;
    }
        
    .yes {
        font-size: 5em;
        left: 33%;
        top: 80%;
        transform: translate(-50%, -50%);
    }

    .no {
        font-size: 4.1em;
        left: 64%;
        top: 80%;
        transform: translate(-50%, -50%);
        line-height: 80%;
        
        .smaller {
            font-size: 0.4em;
        }  
    }
            
    div.imprint {
        color: @gelb;
        position: absolute;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -50%);
        font-size: 1.23em;
    }
    
}
